{% extends 'base.html'%}

{% block head %}

{% endblock %}

{% block body %}
<h1>Template</h1>
<style>
    .bomba{
        width: 200px;
        border-radius: 10px;
        float: left;
        margin-right: 10px;
        object-fit: cover;
    }
    .name{
        font-weight: bold;
    }
    em{
        color: aliceblue;
        font-style: normal;

    }
</style>
<img class = "bomba" src="static/images/test2.png" alt ="could not be displayed">
<p class="name">I want to <strong>learn</strong> <em>HTML</em></p>
<p>I going to learn CSS &lt;&gt;</p>
<a href="about.html"><img src="static/images/test.jpg" alt=""></a>
<a href="static/images/test2.png"download>My photo</a>
<a href="#random"></a>
<a href="#random2"></a>
<a href="https://google.com" target ="_blank"  >google</a>
<h2 id="random">imbatatahfajfhlksafadshfkahdflkjashfkjawhfaloiwefhksdjhakjhdlkfjhawlkejfalhdjflkahefkiahflkahff</h2>
<p>ahgao;lsdghoiawlajgf;oajhg;lojg;lskdjgl;akhg;lah;lkdsgh;lkah;lkeja;lkdjf;lkajeg;oah;dlgka;welyga;iow</p>
<h2 id = "random2">21</h2>
<p>aboulkfgnadslkalkdgdals;kjda;lfjsalflasfj;ad</p>
<a href="#">jump to top</a>
{% endblock %}